.form{

  padding: 0rem 5rem 0rem 5rem;
  
  display: flex;
  gap:5rem;
  

  .input_form { 

    flex:1;

    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 30%;

    .input_group{ 
      display: flex;
      flex-direction: column;
      gap: 5px;

      label{ 
        flex:1;
      }

      input{ 
      flex: 2; 
      padding: 5px;

      }

      p{ 
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        color: rgb(221, 79, 79);
      }

    }

    button{ 
      padding: 7px 0 7px 0;
      background-color: rgb(104, 149, 104);
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bolder;
    }
  }

  .image_section{ 

    flex:2;

    #image{ 
      height: 500px;
  }

  }

}

#heading{ 
  margin-left: 5%;
}

body{ 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}