.card{ 

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    text-align: center;


    width: 15vw;

    .image{ 

        width: 15vw;
        height: 25vh;
        

        img{ 
            width: 100%;
            height: 100%;
            object-fit: cover;
           
        }
    }
    .product_details{ 

        padding: 5px;
    }

    

}