.singleProductPage{ 

  

  display: flex;
  flex-direction: row;
  justify-content: start;

  .image_section{ 

    flex: 1; 
    display: flex;
    justify-content: end;
    

    img{ 
      width: 50%;
      object-fit: cover;
    }
  }

  .details_section{ 

    flex: 1;
    display: flex;
    justify-content: start;
    padding-left: 50px;
    color: grey;

    .box{ 
      display: flex;
      flex-direction: column;
      h1{ 
        padding: 0;
        margin: 0;
      }

      .rating{ 
        display: flex;
        align-items: center;
        gap:5px;

        .star{ 
          border:1px solid grey; 
          padding: 5px;
          display: flex;
          gap:5px;
          
        }
      }

      .actionbtn{ 
        display: flex;
        gap:20px;
        

        button{ 
          padding: 7px;
          cursor: pointer;
        }
      }

      .delivery{ 
        display: flex;
        align-items: center;
        gap:5px
      }

      .quantity{ 

          display: flex;
          align-items: center;
          gap:1rem  ;
          padding: 2rem 0rem 3rem 0rem;
          
          p{
            margin: 0px;
            font-size: large;
          }

          button{ 
            padding: 5px; 
            cursor: pointer;
            
          }
      }

    }
  }
}