.section1{ 

  padding: 1rem;

  .heading{ 
    text-align: center;
  }

  .card_section{ 

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    .productCard{ 

      cursor: pointer;
    }

    
  }
}